.page-mv {
  background: url(../img/mv.png) center / cover;
  height: 250px;
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.ttl {
  font-size: 30px;
  font-weight: bold;
}

.service-list {
  color: #000;
  width: 1080px;
}

.service-item {
  display: flex;
  border-top: 1px solid #000;
  justify-content: space-between;
}

.service-item-img {
  width: 300px;
  padding: 20px 0;
  margin: 0 20px;
}

img {
  width: 100%;
  height: auto;
}

.service-item-detile {
  padding: 10px 20px;
}

/*レスポンシブ*/

@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }
  a {
    text-decoration: none;
    color: blue;
  }
  .nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #c9c3c3;
    transition: 0.7s;
    text-align: center;
  }
  .nav ul {
    padding-top: 80px;
  }
  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 10px;
  }

  .menu__line--bottom {
    top: 20px;
  }
  .menu__line--bottom-ttl {
    width: 100%;
    height: 4px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  /*ハンバーガーここまで*/

  /*ヘッダーここまで*/
  .page-mv {
    background: url(../img/mv.png) center / cover;
    height: 280px;
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .ttl {
    font-size: 30px;
    font-weight: bold;
  }

  .service-list {
    color: #000;
  }

  .service-item {
    display: flex;
    border-top: 1px solid #000;
    justify-content: space-between;
  }

  .service-item-img {
    width: 290px;
    padding: 20px 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  .service-item-detile {
    padding: 10px 20px;
  }

  .footer {
    width: 100px;
    padding: 20px 0;
    color: #fff;
    background-color: #222;
    font-size: 100%;
  }

  .footer-inner {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

  .footer-nav {
    display: flex;
  }

  .footer-nav-list {
    display: flex;
  }

  .footer-nav-item {
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 0 20px;
  }

  a {
    color: #fff;
  }

  .main-header-all {
    display: none;
  }
}

/*レスポンシブ*/
